*{
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color:  rgba(2, 2, 61, 0.8);
    min-height: 100vh;
}

button {
    background: rgba(31, 31, 48, 0.8);
    color: #fff;
    border-radius: 15px;
    border: none;
    padding: 1rem;
    font-family: inherit;
}


.popup-container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(2, 2, 61, 0.8);
    display: none;

    align-items: center;
    justify-content: center;
}

.popup-container.active {
    display:flex;
}

.popup{
    background: rgba(31, 31, 48, 0.8);
    color: #fff;
    padding: 2rem;
    width: 500px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;    
    position: relative;
}

.popup button {
    background: rgba(31, 31, 48, 0.8);
    position: absolute;
    font-size: 2rem;
    top: 10px;
    right: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;    

}